version: "3.9"

services:
  frontend:
    container_name: mi-portafolio-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`portafolio-jml.softapp.ch`)
      - traefik.http.services.frontend.loadbalancer.server.port=80

networks:
  dokploy-network:
    external: true
